*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.html, .body {
    height: 100%;
}
.clear{
    clear:both;
}
.header {
    margin: 0 auto;
}
.cabeça{
    width: 100%px;
    height: 80px;
    background-color: #212343;
}
.cabeça img {
    padding: 30px;
}
.banner {
    background-image: url(../imagens/header_bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}
.quadrado {
    float: left;
    margin-top: 80px;
    margin-left: 5vw;
    width: 100%;
    max-width: 600px;
    height: 220px;
    background-color: rgba(33,35,67,0.8);
}
.form{
    border: rgba(165,165,165,0.9) solid 8px;
    margin-top:-20px;
    margin-right: 100px; 
    float: right;
    background-color: white;
    width: 350px;
    height:550px;
    padding: 20px;
    padding-top: 50px;
}
.input-container{
    margin: 0 auto;
    margin-top: 30px;
}
.input-container input[type=text] {
    width: 100%;
    margin-top: 3px;
    height: 40px;
    line-height: 20px;
    padding-left: 8px;
}
.input-container2{
    width: 100%;
    text-align: center;
    height: 40px;
    margin-top: 60px;
    transition: 0.4s;
}
.input-container2 input[type=submit]{
    background-color: rgba(89, 97, 211, 0.8);
    border: none;
    cursor: pointer;
    width: 80%;
    height: 40px;
}
.input-container2 input[type=submit]:hover{
    background-color: rgba(60, 65, 136, 0.8);;
}
.quadrado ul{
    padding: 30px;
    text-align: justify;
    color: white;
    font-size: 21px;
}
.quadrado li{
    margin-top: 20px;
}
.container {
    text-align: center;
    padding: 40px 0;
    width: 100%;
    height: 267px;
    background-color: #dddddd;
}
.container h2{
    width: 50%;
    margin: 0 auto;
    float: center;
    font-size: 27px;

}
.container p{
    margin: 0 auto;
    margin-top: 30px;
    display: inline-block;
    width: 600px;
    text-align: justify;
}
.container img{
    margin-top: 100px;
    float: center;
    width: 67px;
    height:67px;
}
.textosgeral{
    text-align: center;
    width:100%;
}

.textosgeral h2{
    margin-bottom: 80px;
    margin-top: 80px;
    padding:20px;
    font-size: 30px;
}
.imgs-center{
    width: 100%;
}
.imgs{
    float: right;
    width: calc(100% /3);
    margin-right: -1.5px;
    text-align: center;
}
.imgs h2{
    padding: 8px;
    text-align: center;
}
.imgs p{
    padding: 30px;
    text-align: justify;
}
.footergeral{
    margin-top: 20px;
    width: 100%;
    height: 100px;
}
.footerlinha{
    width: 100%;
    height: 1px;
    background-color: gray;
}
.footer-txt{
    margin-top: 15px;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 10px;
    text-align: center;
}

@media screen and (max-width: 1180px){
    .form {
        position: relative;
    }
    .quadrado {
        width: 40vw;
        position: relative;
    }
}
.container {
    padding: 60px;
}
@media screen and (max-width: 850px){
    body{
        overflow-x:hidden;
    }
    .cabeça{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        padding-top: 20px;
    }
    .form{
        margin-right: 0px;
        margin-top: 40px;
    }
    .quadrado{
        width: 370px;
        margin: 0;
    }
    .container{
        height: 600px;
        display: flex;
        padding: 20px;
        padding-top: 45vw;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container h2 {
        display: flex;

    }
    .container p{
        display: flex;
        width: 100%;
    }
    .imgs-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgs{
        width: 100%;
    }
    .footergeral{
        background-color: #d6d8da;
    }
}
@media screen and (max-width: 320px){
    body{
        overflow-x:hidden;
    }
    .cabeça{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px;
        padding-top: 20px;
    }
    .form{
        width: 100%;
        margin-right: 0px;
        margin-top: 40px;
    }
    .quadrado{
        width: 100%;
        margin: 0;
    }
    .container{
        height: 600px;
        display: flex;
        padding: 20px;
        padding-top: 250px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container h2 {
        width: 100%;
        display: flex;

    }
    .container p{
        display: flex;
        width: 100%;
    }
    .textosgeral h2{
        margin-bottom: 60px;
        margin-top: 30px;
        padding:20px;
        font-size: 30px;
    }
    .imgs-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgs{
        width: 100%;
    }
    .footergeral{
        background-color: #d6d8da;
    }
}
